.about  {
    font-size: 1.5em;
    text-align: justify;
    padding: 2vh !important;
    font-family: robotoCond !important;
}

.about h1 {
    font-size: 2em;
    margin-bottom: 1vh;
    font-family: robotoBold !important;
}

.about h2 {
    font-size: 1.5em;
    margin-bottom: 1vh;
    font-family: robotoBold !important;
}

.about h3 {
    font-size: 1.3em;
    margin-bottom: 1vh;
    font-family: robotoBold !important;
}

.about h4 {
    font-size: 1.1em;
    margin-bottom: 1vh;
    font-family: robotoBold !important;
}

.about p {
    padding-bottom: 3vh;
}

.about li {
    margin-top: 0.8vh;
}

.about .fancyP:first-letter {
    color: #aaaaaa;
    float:left;
    font-size: 300%;
    padding-left: -1vh;
    padding-right: 0.5vh;
    padding-top: -1vh;
}

.about .warning {
    background-color: #b71c1c;
    border: 1px solid #f00;
    padding: 1vh;
    margin: 0vh 5vh;
    margin-bottom: 2vh;
}

.about .info {
    background-color: #00a307;
    border: 1px solid #0f0;
    padding: 1vh;
    margin: 0vh 5vh;
    margin-bottom: 2vh;
}

.about ul {
    padding-left: 2vh;
}
