.btn {
    border: none;
    height: 4vh;
    min-width: 4vh;
    font-family: robotoBold;
}

.btnSearch {
    background-image: url('../img/magnifier.png');
    background-size: 3vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff !important;

}

.btnDark {
    background-color: #404040;
    color: white;
}
