.card {
    background: #252525;
    color: white;
    font-family: roboto;
    padding: 2vh;
    margin: 1vh;
    box-shadow: 2px 2px 5px black;
}


.cardHead {
    color: white;
    font-size: 2em;
}

.cardPack {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
}

.title {
    font-size: 1.5em
}

.title .packName {
    color: #e04312;
}

.title .command {
    color: #ffbf00;
}

.cardPack li {
    display: flex;
    flex-direction: row;
    padding: 0.2vh;
}

.cardError {
    background-color: #a20000;
    font-size: 2em;
}

.detLabl {
    width: 20%;
    color: rgba(255, 255, 255, 0.5);
}

.detContent {
    width: 80%;
}

.detmail {
    color: rgba(255, 255, 255, 0.7);
}

.cardHome h1 {
    font-size: 3vh;
    margin-bottom: 1vh;
}

.cardHome p {
    font-size: 2vh;
    margin-bottom: 3vh;
}
