body {
    font-family: roboto;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: #303030;
}

.mainContainer {
    height: 100%;
    width: 100%;
}

.centerAlign {
    justify-content: center;
}

mail, .mail {
    font-style: italic;
    color: #999999;
}


.inline {
    display: flex;
    flex-direction: row;
}

.inline form:first-child{
    margin-right: 2vh;
}

.code, code {
    background-color: #202020;
    font-family: monospace !important;
    padding: 0vh 0.2vh !important;
    border: 1px solid #444444 !important;
    font-size: 1.1em;
    border-radius: 3px;
}

.codeBlock {
    font-size: 1.5vh;
}

.hidden {
    display: none;
}
