@font-face {
    font-family: "roboto";
    src: url('../font/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: "robotoBold";
    src: url('../font/roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: "robotoCond";
    src: url('../font/roboto/Roboto-Condensed.ttf');
}
