.form {
    display: flex;
    flex-direction: row;
}

.inline .form {
    width: 20vw;
}

.form input[type='search']
{
    font-family: roboto;
    font-size: 1em;

    width: 100%;
    height: 4vh;

    color: white;
    border: none;
    border-bottom: 1px solid #555;
    background-color: #252525;
    padding-left: 1vh;
    padding-right: 1vh;
}

.form input::placeholder
{
    color: #aaa;
}


.form input[type='search']:hover,
.form input[type='search']:focus
{
    border-bottom: 1px solid #aaa;
    background-color: #353535;
}
