.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: #202020;
    padding: 1vh;
}

a, .logo {
    height: 100%;
}
