.banner {
    position: relative;
    top: -6.6vh;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: -1;
    text-align: center;
    align-items: center;
    background-image: url('../img/glen-jackson.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bannerText {
    color: white;
    font-family: julius;
    filter: drop-shadow(1px 1px 5px black);
}

.bannerText h1 {
    font-size: 5em;
}

.bannerText h2 {
    font-size: 4em;
}
