.cardStat {
    display: flex;
    flex-direction: column;
}

.cardStat li {
    padding-bottom: 0.5vh;
}

.cardStat h1 {
    font-size: 3vh;
    padding-bottom: 0.5vh;
}

.cardStat .stat {
    display: flex;
    flex-direction: row;
    font-size: 2vh;
    margin-left: 1vh;
}

.cardStat .statLabl {
    width: 80%;
}

.cardStat .statVal {
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
}

.cardStat .statResult {
    font-size: 3vh;
    margin-left: 0vh;
}
