.navContainer {
    z-index: 100;
    height: 5vh;
    width: 100vw;
    border-bottom: 1px solid white;
    z-index: 100;
}

.fixed {
    position: fixed;
    top: 0px;
    border-bottom: 1px solid black;
    background-color: white;
    /*transition: 0.5s;*/
    animation: dropDown 0.5s;
}


.tabbar {
    margin-top: 1.5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
}

.tabbar a {
    font-family: julius;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    transition: 0.5s;
}

.tabbar li:hover, .tabbar li:focus, .tabbar li:active {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

@keyframes dropDown {
    0%{
        top: -5vh;
    }
    100%{
        top: 0px;
    }
}
